---
const canonical = 'https://www.reparatiitvbucuresti.ro/';
---
<!doctype html>
<html lang="ro"><head>
<meta charset="utf-8" />
<title>Reparatii TV Bucuresti – Service Televizoare</title>
<link rel="canonical" href={canonical} />
<meta http-equiv="refresh" content={'0; url=/'} />
</head><body>
<p>Redirecționare către <a href="/">pagina principală</a>…</p>
</body></html>
